body {
    padding:0;
    margin:0;
    background-color:#4455b3;
    font-family : 'Arial', sans-serif;
}

#case {
    position:absolute;
    top:25vh;
    left:32vw;
    background-color:#ffffff;
    width:35vw;
    height:50vh;
    border-radius:5px;
    box-shadow:3px 3px 1px #0e2872;
}

#formulaire{
    position:relative;
    top:9vh;
    left:9vw;
}

legend {
    text-align:center;
    color:#4455b3;
    position:relative;
    top:5vh;
    font-size:2.4em;
    font-weight:600;
}

label {
    font-weight:600;
    font-size:0.7em;
}

input[type=text]{
    background-color:#c2cae8;
    border:none;
    padding:5px 20px;
    border-radius:5px;
}

input[type=submit]{
    background-color:#4455b3;
    color:#ffffff;
    padding:5px 20px;
    border-radius:5px;
    border:none;
}